.logo{
    width : "24px";
}

.header{
    padding-left: 24px;
    padding-right: 24px;
    background-color: "white";
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    height: 65px;
    align-items: center;
}

.headerBtn1{
    background-color: rgba(78, 89, 104, 0.16);
    color: rgb(78, 89, 104);
    padding: 4px 7px;
    font-size: 13px;
    border-radius: 10px;
}
